# 10 Aug Attendance

In [1]:
text = """
Adnan Taj
3:06 PM
Adnan Taj Present
Uzair Ahmed
3:06 PM
Uzair Ahmed Present
Syed Shaheer
3:06 PM
sir qasim has joined
AYESHARIAZ ASH
3:20 PM
Sir please mark my attendance
Ayesha Riaz
AYESHARIAZ ASH
3:28 PM
Sir please mark my attendance
Rafat Mehdi
3:33 PM
Riffat Mehdi mark yesterday & today attendance
Adnan Taj
3:34 PM
42201-5274232-1
Syed Shaheer
3:34 PM
42201-9453058-3
Moiz Naqvi
3:34 PM
4200092872725
Measum fakhir ali
3:34 PM
42101-2631168-3
AYESHARIAZ ASH
3:34 PM
42501-6863998-0
hammad saleem
3:34 PM
4220137207767
Uzair Ahmed
3:34 PM
37301-0251835-5
Muhammad Ishaq
3:34 PM
42501-1560286-3
Moiz Naqvi
3:34 PM
moiznaqvi99@gmail.com
Rafat Mehdi
3:35 PM
42201-5286346-1
Syed Uzair Hussain
3:35 PM
42201-6193079-7
Hamza Javed
3:35 PM
37201-7978769-7
Saad Hamza
3:35 PM
35201-7256667-7
Ahsan Aziz
3:35 PM
42201-6450932-7
Areeba Rehman
3:36 PM
42201-7041244-2
Faraz Ahmed
3:36 PM
422010452663
sarah fatima
3:37 PM
42201-9964703-6
"""

In [2]:
import re

pattern = r""".*
\d{1,2}:\d{1,2} [AMPM]{2}
\d{5}-?\d{7}-?\d{1}
"""

data = re.findall(pattern, text)
data

['Adnan Taj\n3:34\u202fPM\n42201-5274232-1\n',
 'Syed Shaheer\n3:34\u202fPM\n42201-9453058-3\n',
 'Moiz Naqvi\n3:34\u202fPM\n4200092872725\n',
 'Measum fakhir ali\n3:34\u202fPM\n42101-2631168-3\n',
 'AYESHARIAZ ASH\n3:34\u202fPM\n42501-6863998-0\n',
 'hammad saleem\n3:34\u202fPM\n4220137207767\n',
 'Uzair Ahmed\n3:34\u202fPM\n37301-0251835-5\n',
 'Muhammad Ishaq\n3:34\u202fPM\n42501-1560286-3\n',
 'Rafat Mehdi\n3:35\u202fPM\n42201-5286346-1\n',
 'Syed Uzair Hussain\n3:35\u202fPM\n42201-6193079-7\n',
 'Hamza Javed\n3:35\u202fPM\n37201-7978769-7\n',
 'Saad Hamza\n3:35\u202fPM\n35201-7256667-7\n',
 'Ahsan Aziz\n3:35\u202fPM\n42201-6450932-7\n',
 'Areeba Rehman\n3:36\u202fPM\n42201-7041244-2\n',
 'sarah fatima\n3:37\u202fPM\n42201-9964703-6\n']

In [3]:
import re

pattern = r"""(.*)
(\d{1,2}:\d{1,2} [AMPM]{2})
(\d{5}-?\d{7}-?\d{1})
"""

data = re.findall(pattern, text)
data

[('Adnan Taj', '3:34\u202fPM', '42201-5274232-1'),
 ('Syed Shaheer', '3:34\u202fPM', '42201-9453058-3'),
 ('Moiz Naqvi', '3:34\u202fPM', '4200092872725'),
 ('Measum fakhir ali', '3:34\u202fPM', '42101-2631168-3'),
 ('AYESHARIAZ ASH', '3:34\u202fPM', '42501-6863998-0'),
 ('hammad saleem', '3:34\u202fPM', '4220137207767'),
 ('Uzair Ahmed', '3:34\u202fPM', '37301-0251835-5'),
 ('Muhammad Ishaq', '3:34\u202fPM', '42501-1560286-3'),
 ('Rafat Mehdi', '3:35\u202fPM', '42201-5286346-1'),
 ('Syed Uzair Hussain', '3:35\u202fPM', '42201-6193079-7'),
 ('Hamza Javed', '3:35\u202fPM', '37201-7978769-7'),
 ('Saad Hamza', '3:35\u202fPM', '35201-7256667-7'),
 ('Ahsan Aziz', '3:35\u202fPM', '42201-6450932-7'),
 ('Areeba Rehman', '3:36\u202fPM', '42201-7041244-2'),
 ('sarah fatima', '3:37\u202fPM', '42201-9964703-6')]

In [4]:
import re

pattern = r"""(.*)
(\d{1,2}:\d{1,2} [AMPM]{2})
(\d{5}-?\d{7}-?\d{1})
"""
import pandas as pd

data = re.findall(pattern, text)
df : pd.DataFrame = pd.DataFrame(data, columns=["Name","Time","CNIC"])
df

                  Name     Time             CNIC
0            Adnan Taj  3:34 PM  42201-5274232-1
1         Syed Shaheer  3:34 PM  42201-9453058-3
2           Moiz Naqvi  3:34 PM    4200092872725
3    Measum fakhir ali  3:34 PM  42101-2631168-3
4       AYESHARIAZ ASH  3:34 PM  42501-6863998-0
5        hammad saleem  3:34 PM    4220137207767
6          Uzair Ahmed  3:34 PM  37301-0251835-5
7       Muhammad Ishaq  3:34 PM  42501-1560286-3
8          Rafat Mehdi  3:35 PM  42201-5286346-1
9   Syed Uzair Hussain  3:35 PM  42201-6193079-7
10         Hamza Javed  3:35 PM  37201-7978769-7
11          Saad Hamza  3:35 PM  35201-7256667-7
12          Ahsan Aziz  3:35 PM  42201-6450932-7
13       Areeba Rehman  3:36 PM  42201-7041244-2
14        sarah fatima  3:37 PM  42201-9964703-6

In [5]:
df['CNIC'].str.replace("-","")

0     4220152742321
1     4220194530583
2     4200092872725
3     4210126311683
4     4250168639980
5     4220137207767
6     3730102518355
7     4250115602863
8     4220152863461
9     4220161930797
10    3720179787697
11    3520172566677
12    4220164509327
13    4220170412442
14    4220199647036
Name: CNIC, dtype: object

In [6]:
df['CNIC'] = df['CNIC'].str.replace("-","")
df

                  Name     Time           CNIC
0            Adnan Taj  3:34 PM  4220152742321
1         Syed Shaheer  3:34 PM  4220194530583
2           Moiz Naqvi  3:34 PM  4200092872725
3    Measum fakhir ali  3:34 PM  4210126311683
4       AYESHARIAZ ASH  3:34 PM  4250168639980
5        hammad saleem  3:34 PM  4220137207767
6          Uzair Ahmed  3:34 PM  3730102518355
7       Muhammad Ishaq  3:34 PM  4250115602863
8          Rafat Mehdi  3:35 PM  4220152863461
9   Syed Uzair Hussain  3:35 PM  4220161930797
10         Hamza Javed  3:35 PM  3720179787697
11          Saad Hamza  3:35 PM  3520172566677
12          Ahsan Aziz  3:35 PM  4220164509327
13       Areeba Rehman  3:36 PM  4220170412442
14        sarah fatima  3:37 PM  4220199647036