In [5]:
import pandas as pd
import numpy as np

# Generating sample Google Play Store data
data = {
    'App': [f'App_{i}' for i in range(1, 31)],
    'Category': np.random.choice(['Game', 'Productivity', 'Health', 'Education'], 30),
    'Rating': np.random.uniform(1.0, 5.0, 30).round(1),
    'Reviews': np.random.randint(1, 10000, 30),
    'Size': np.random.choice(['Varies with device', '10M', '20M', '30M'], 30),
    'Installs': np.random.choice(['1,000+', '10,000+', '50,000+', '100,000+'], 30),
    'Type': np.random.choice(['Free', 'Paid'], 30),
    'Price': np.random.choice(['0', '0.99', '1.99', '2.99', '4.99', '5.99', '9.99'], 30),
    'Content Rating': np.random.choice(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+'], 30)
}

In [7]:
data

{'App': ['App_1',
  'App_2',
  'App_3',
  'App_4',
  'App_5',
  'App_6',
  'App_7',
  'App_8',
  'App_9',
  'App_10',
  'App_11',
  'App_12',
  'App_13',
  'App_14',
  'App_15',
  'App_16',
  'App_17',
  'App_18',
  'App_19',
  'App_20',
  'App_21',
  'App_22',
  'App_23',
  'App_24',
  'App_25',
  'App_26',
  'App_27',
  'App_28',
  'App_29',
  'App_30'],
 'Category': array(['Productivity', 'Education', 'Productivity', 'Game', 'Game',
        'Game', 'Game', 'Game', 'Game', 'Productivity', 'Productivity',
        'Game', 'Productivity', 'Education', 'Game', 'Productivity',
        'Game', 'Education', 'Productivity', 'Game', 'Health', 'Education',
        'Productivity', 'Health', 'Productivity', 'Game', 'Game',
        'Education', 'Game', 'Productivity'], dtype='<U12'),
 'Rating': array([4.5, 4.4, 2.8, 1.6, 4.8, 4. , 4.5, 1.8, 4.2, 1.2, 3.9, 3.9, 3.5,
        4.3, 4.7, 5. , 1. , 4.8, 4.6, 3.1, 4. , 4.4, 3.2, 3.8, 4.2, 1.4,
        2.7, 4.3, 3.6, 3.7]),
 'Reviews': array([7611, 6690,  491, 4403, 6301, 4231, 4763, 3123, 8206,  805, 5358,
        4440, 9768, 4340, 6054, 1296, 8950, 7983, 9535, 9615, 9819, 8803,
         793, 6908, 4873,  899, 7512, 2467, 8809, 7050]),
 'Size': array(['Varies with device', 'Varies with device', 'Varies with device',
        'Varies with device', '30M', '30M', '20M', 'Varies with device',
        'Varies with device', '20M', '20M', '30M', 'Varies with device',
        'Varies with device', '30M', '10M', '10M', 'Varies with device',
        '10M', '10M', '20M', '30M', '10M', '20M', '20M', '10M',
        'Varies with device', 'Varies with device', '20M', '30M'],
       dtype='<U18'),
 'Installs': array(['50,000+', '100,000+', '10,000+', '100,000+', '1,000+', '50,000+',
        '10,000+', '50,000+', '1,000+', '100,000+', '100,000+', '10,000+',
        '1,000+', '1,000+', '100,000+', '1,000+', '50,000+', '100,000+',
        '100,000+', '50,000+', '1,000+', '50,000+', '1,000+', '1,000+',
        '10,000+', '50,000+', '1,000+', '1,000+', '1,000+', '1,000+'],
       dtype='<U8'),
 'Type': array(['Free', 'Free', 'Paid', 'Paid', 'Free', 'Free', 'Paid', 'Free',
        'Free', 'Paid', 'Paid', 'Paid', 'Paid', 'Free', 'Free', 'Free',
        'Free', 'Paid', 'Paid', 'Paid', 'Paid', 'Free', 'Free', 'Free',
        'Paid', 'Paid', 'Free', 'Paid', 'Free', 'Free'], dtype='<U4'),
 'Price': array(['5.99', '1.99', '2.99', '4.99', '0', '4.99', '5.99', '1.99',
        '4.99', '4.99', '0.99', '0.99', '5.99', '4.99', '9.99', '1.99',
        '9.99', '9.99', '9.99', '4.99', '9.99', '4.99', '0.99', '9.99',
        '2.99', '0.99', '1.99', '4.99', '9.99', '0'], dtype='<U4'),
 'Content Rating': array(['Mature 17+', 'Teen', 'Mature 17+', 'Teen', 'Mature 17+',
        'Everyone', 'Teen', 'Teen', 'Everyone', 'Everyone', 'Mature 17+',
        'Everyone 10+', 'Mature 17+', 'Mature 17+', 'Everyone 10+', 'Teen',
        'Teen', 'Everyone 10+', 'Mature 17+', 'Teen', 'Teen', 'Everyone',
        'Everyone 10+', 'Everyone 10+', 'Teen', 'Teen', 'Teen',
        'Everyone 10+', 'Mature 17+', 'Everyone 10+'], dtype='<U12')}

In [8]:
type(data)

dict

In [9]:
# Creating DataFrame
df = pd.DataFrame(data)

In [16]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,4.5,7611,Varies with device,"50,000+",Free,5.99,Mature 17+
1,App_2,Education,4.4,6690,Varies with device,"100,000+",Free,1.99,Teen
2,App_3,Productivity,2.8,491,Varies with device,"10,000+",Paid,2.99,Mature 17+
3,App_4,Game,1.6,4403,Varies with device,"100,000+",Paid,4.99,Teen
4,App_5,Game,4.8,6301,30M,"1,000+",Free,0,Mature 17+

In [7]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
25,App_26,Health,2.6,5633,10M,"1,000+",Free,0.99,Teen
26,App_27,Education,2.7,6520,Varies with device,"100,000+",Paid,5.99,Everyone 10+
27,App_28,Game,1.7,3374,20M,"50,000+",Paid,9.99,Everyone 10+
28,App_29,Education,1.6,8761,20M,"1,000+",Free,9.99,Everyone 10+
29,App_30,Game,3.6,5388,30M,"1,000+",Free,4.99,Mature 17+

In [8]:
# !pip install module name

In [9]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating'],
      dtype='object')

In [10]:
df.shape

(30, 9)

In [11]:
df['Category'].unique()

array(['Game', 'Education', 'Productivity', 'Health'], dtype=object)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int32
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     object
 8   Content Rating  30 non-null     object
dtypes: float64(1), int32(1), object(7)
memory usage: 2.1+ KB

In [25]:
df.sample(4)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
27,App_28,Education,4.3,2467,Varies with device,"1,000+",Paid,4.99,Everyone 10+
28,App_29,Game,3.6,8809,20M,"1,000+",Free,9.99,Mature 17+
25,App_26,Game,1.4,899,10M,"50,000+",Paid,0.99,Teen
10,App_11,Productivity,3.9,5358,20M,"100,000+",Paid,0.99,Mature 17+

In [14]:
df.isnull()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False

In [15]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [26]:
# Basic data cleansing
# Step 1: Convert 'Price' to numeric, replacing '$' and converting 'Free' to 0
df['Price'] = df['Price'].replace('Free', '0')

In [27]:
type(df['Price'])

pandas.core.series.Series

In [28]:
df['Price'] = df['Price'].str.replace('$', '').astype(float)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int64
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     float64
 8   Content Rating  30 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 2.2+ KB

In [30]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,4.5,7611,Varies with device,"50,000+",Free,5.99,Mature 17+
1,App_2,Education,4.4,6690,Varies with device,"100,000+",Free,1.99,Teen
2,App_3,Productivity,2.8,491,Varies with device,"10,000+",Paid,2.99,Mature 17+
3,App_4,Game,1.6,4403,Varies with device,"100,000+",Paid,4.99,Teen
4,App_5,Game,4.8,6301,30M,"1,000+",Free,0.00,Mature 17+

In [31]:
# Additional Steps
# Step 2: Remove duplicates based on the 'App' column
df = df.drop_duplicates(subset=['App'])

In [22]:
# Step 3: Fill missing values in 'Rating' with the mean rating
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

In [32]:
# Step 4: Normalize the 'Reviews' column (scaling between 0 and 1)
df['Reviews'] = (df['Reviews'] - df['Reviews'].min()) / (df['Reviews'].max() - df['Reviews'].min())

In [33]:
df['Size'].unique()

array(['Varies with device', '30M', '20M', '10M'], dtype=object)

In [34]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,4.5,0.763293,Varies with device,"50,000+",Free,5.99,Mature 17+
1,App_2,Education,4.4,0.664558,Varies with device,"100,000+",Free,1.99,Teen
2,App_3,Productivity,2.8,0.000000,Varies with device,"10,000+",Paid,2.99,Mature 17+
3,App_4,Game,1.6,0.419383,Varies with device,"100,000+",Paid,4.99,Teen
4,App_5,Game,4.8,0.622856,30M,"1,000+",Free,0.00,Mature 17+

In [35]:
# Step 5: Simplify 'Size' column (replace 'Varies with device' with NaN)
df['Size'] = df['Size'].replace('Varies with device', np.nan)

In [36]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,4.5,0.763293,NaN,"50,000+",Free,5.99,Mature 17+
1,App_2,Education,4.4,0.664558,NaN,"100,000+",Free,1.99,Teen
2,App_3,Productivity,2.8,0.000000,NaN,"10,000+",Paid,2.99,Mature 17+
3,App_4,Game,1.6,0.419383,NaN,"100,000+",Paid,4.99,Teen
4,App_5,Game,4.8,0.622856,30M,"1,000+",Free,0.00,Mature 17+

In [37]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,4.5,0.763293,NaN,"50,000+",Free,5.99,Mature 17+
1,App_2,Education,4.4,0.664558,NaN,"100,000+",Free,1.99,Teen
2,App_3,Productivity,2.8,0.000000,NaN,"10,000+",Paid,2.99,Mature 17+
3,App_4,Game,1.6,0.419383,NaN,"100,000+",Paid,4.99,Teen
4,App_5,Game,4.8,0.622856,30M,"1,000+",Free,0.00,Mature 17+

In [38]:
df['Size']

0     NaN
1     NaN
2     NaN
3     NaN
4     30M
5     30M
6     20M
7     NaN
8     NaN
9     20M
10    20M
11    30M
12    NaN
13    NaN
14    30M
15    10M
16    10M
17    NaN
18    10M
19    10M
20    20M
21    30M
22    10M
23    20M
24    20M
25    10M
26    NaN
27    NaN
28    20M
29    30M
Name: Size, dtype: object

In [39]:
# Step 6: Convert 'Size' from string to numeric (assume 'M' means MB)
df['Size'] = df['Size'].str.replace('M', '').astype(float)

In [40]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,4.5,0.763293,NaN,"50,000+",Free,5.99,Mature 17+
1,App_2,Education,4.4,0.664558,NaN,"100,000+",Free,1.99,Teen
2,App_3,Productivity,2.8,0.000000,NaN,"10,000+",Paid,2.99,Mature 17+
3,App_4,Game,1.6,0.419383,NaN,"100,000+",Paid,4.99,Teen
4,App_5,Game,4.8,0.622856,30.0,"1,000+",Free,0.00,Mature 17+

In [41]:
df['Size']

0      NaN
1      NaN
2      NaN
3      NaN
4     30.0
5     30.0
6     20.0
7      NaN
8      NaN
9     20.0
10    20.0
11    30.0
12     NaN
13     NaN
14    30.0
15    10.0
16    10.0
17     NaN
18    10.0
19    10.0
20    20.0
21    30.0
22    10.0
23    20.0
24    20.0
25    10.0
26     NaN
27     NaN
28    20.0
29    30.0
Name: Size, dtype: float64

In [42]:
# Step 7: Fill missing values in 'Size' with the median size
df['Size'] = df['Size'].fillna(df['Size'].median())

In [43]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Productivity,4.5,0.763293,20.0,"50,000+",Free,5.99,Mature 17+
1,App_2,Education,4.4,0.664558,20.0,"100,000+",Free,1.99,Teen
2,App_3,Productivity,2.8,0.000000,20.0,"10,000+",Paid,2.99,Mature 17+
3,App_4,Game,1.6,0.419383,20.0,"100,000+",Paid,4.99,Teen
4,App_5,Game,4.8,0.622856,30.0,"1,000+",Free,0.00,Mature 17+

In [44]:
# Step 8: Clean 'Installs' column (remove '+' and ',')
df['Installs'] = df['Installs'].str.replace(',', '').str.replace('+', '').astype(int)

In [47]:
df['Size']

0     20.0
1     20.0
2     20.0
3     20.0
4     30.0
5     30.0
6     20.0
7     20.0
8     20.0
9     20.0
10    20.0
11    30.0
12    20.0
13    20.0
14    30.0
15    10.0
16    10.0
17    20.0
18    10.0
19    10.0
20    20.0
21    30.0
22    10.0
23    20.0
24    20.0
25    10.0
26    20.0
27    20.0
28    20.0
29    30.0
Name: Size, dtype: float64

In [48]:
# Step 11: Create a new column 'Popularity' based on 'Rating' and 'Reviews'
df['Popularity'] = df['Rating'] * df['Reviews']

In [49]:
df.sort_values(by=['Popularity','Size'], ascending=False)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Popularity
18,App_19,Productivity,4.6,0.969554,10.0,100000,Paid,9.99,Mature 17+,4.459949
20,App_21,Health,4.0,1.000000,20.0,1000,Paid,9.99,Teen,4.000000
21,App_22,Education,4.4,0.891081,30.0,50000,Free,4.99,Everyone,3.920755
17,App_18,Education,4.8,0.803173,20.0,100000,Paid,9.99,Everyone 10+,3.855232
12,App_13,Productivity,3.5,0.994533,20.0,1000,Paid,5.99,Mature 17+,3.480864
8,App_9,Game,4.2,0.827080,20.0,1000,Free,4.99,Everyone,3.473735
0,App_1,Productivity,4.5,0.763293,20.0,50000,Free,5.99,Mature 17+,3.434820
28,App_29,Game,3.6,0.891724,20.0,1000,Free,9.99,Mature 17+,3.210206
19,App_20,Game,3.1,0.978130,10.0,50000,Paid,4.99,Teen,3.032204
4,App_5,Game,4.8,0.622856,30.0,1000,Free,0.00,Mature 17+,2.989708
1,App_2,Education,4.4,0.664558,20.0,100000,Free,1.99,Teen,2.924057
14,App_15,Game,4.7,0.596377,30.0,100000,Free,9.99,Everyone 10+,2.802970
23,App_24,Health,3.8,0.687929,20.0,1000,Free,9.99,Everyone 10+,2.614130
29,App_30,Productivity,3.7,0.703152,30.0,1000,Free,0.00,Everyone 10+,2.601662
6,App_7,Game,4.5,0.457976,20.0,10000,Paid,5.99,Teen,2.060892
10,App_11,Productivity,3.9,0.521762,20.0,100000,Paid,0.99,Mature 17+,2.034873
26,App_27,Game,2.7,0.752680,20.0,1000,Free,1.99,Teen,2.032236
24,App_25,Productivity,4.2,0.469768,20.0,10000,Paid,2.99,Teen,1.973027
13,App_14,Education,4.3,0.412629,20.0,1000,Free,4.99,Mature 17+,1.774303
11,App_12,Game,3.9,0.423349,30.0,10000,Paid,0.99,Everyone 10+,1.651061
5,App_6,Game,4.0,0.400943,30.0,50000,Free,4.99,Everyone,1.603774
27,App_28,Education,4.3,0.211835,20.0,1000,Paid,4.99,Everyone 10+,0.910892
16,App_17,Game,1.0,0.906840,10.0,50000,Free,9.99,Teen,0.906840
3,App_4,Game,1.6,0.419383,20.0,100000,Paid,4.99,Teen,0.671012
7,App_8,Game,1.8,0.282161,20.0,50000,Free,1.99,Teen,0.507890
15,App_16,Productivity,5.0,0.086299,10.0,1000,Free,1.99,Teen,0.431497
22,App_23,Productivity,3.2,0.032376,10.0,1000,Free,0.99,Everyone 10+,0.103602
25,App_26,Game,1.4,0.043739,10.0,50000,Paid,0.99,Teen,0.061235
9,App_10,Productivity,1.2,0.033662,20.0,100000,Paid,4.99,Everyone,0.040395
2,App_3,Productivity,2.8,0.000000,20.0,10000,Paid,2.99,Mature 17+,0.000000

In [50]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Popularity
0,App_1,Productivity,4.5,0.763293,20.0,50000,Free,5.99,Mature 17+,3.434820
1,App_2,Education,4.4,0.664558,20.0,100000,Free,1.99,Teen,2.924057
2,App_3,Productivity,2.8,0.000000,20.0,10000,Paid,2.99,Mature 17+,0.000000
3,App_4,Game,1.6,0.419383,20.0,100000,Paid,4.99,Teen,0.671012
4,App_5,Game,4.8,0.622856,30.0,1000,Free,0.00,Mature 17+,2.989708

In [51]:
df[df['App']=="App_1"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Popularity
0,App_1,Productivity,4.5,0.763293,20.0,50000,Free,5.99,Mature 17+,3.43482

In [52]:
len(df[(df['Type'] == 'Paid') & (df['Price'] < 2.00)])

3

In [55]:
# Check and categorize paid apps
df['Affordable'] = np.where(df['Type'] == 'Paid', np.where(df['Price'] < 5.00, 'Yes', 'No'), 'N/A')

In [56]:
# Display the DataFrame
print(df)

       App      Category  Rating   Reviews  Size  Installs  Type  Price  \
0    App_1  Productivity     4.5  0.763293  20.0     50000  Free   5.99
1    App_2     Education     4.4  0.664558  20.0    100000  Free   1.99
2    App_3  Productivity     2.8  0.000000  20.0     10000  Paid   2.99
3    App_4          Game     1.6  0.419383  20.0    100000  Paid   4.99
4    App_5          Game     4.8  0.622856  30.0      1000  Free   0.00
5    App_6          Game     4.0  0.400943  30.0     50000  Free   4.99
6    App_7          Game     4.5  0.457976  20.0     10000  Paid   5.99
7    App_8          Game     1.8  0.282161  20.0     50000  Free   1.99
8    App_9          Game     4.2  0.827080  20.0      1000  Free   4.99
9   App_10  Productivity     1.2  0.033662  20.0    100000  Paid   4.99
10  App_11  Productivity     3.9  0.521762  20.0    100000  Paid   0.99
11  App_12          Game     3.9  0.423349  30.0     10000  Paid   0.99
12  App_13  Productivity     3.5  0.994533  20.0      1000  Paid   5.99
13  App_14     Education     4.3  0.412629  20.0      1000  Free   4.99
14  App_15          Game     4.7  0.596377  30.0    100000  Free   9.99
15  App_16  Productivity     5.0  0.086299  10.0      1000  Free   1.99
16  App_17          Game     1.0  0.906840  10.0     50000  Free   9.99
17  App_18     Education     4.8  0.803173  20.0    100000  Paid   9.99
18  App_19  Productivity     4.6  0.969554  10.0    100000  Paid   9.99
19  App_20          Game     3.1  0.978130  10.0     50000  Paid   4.99
20  App_21        Health     4.0  1.000000  20.0      1000  Paid   9.99
21  App_22     Education     4.4  0.891081  30.0     50000  Free   4.99
22  App_23  Productivity     3.2  0.032376  10.0      1000  Free   0.99
23  App_24        Health     3.8  0.687929  20.0      1000  Free   9.99
24  App_25  Productivity     4.2  0.469768  20.0     10000  Paid   2.99
25  App_26          Game     1.4  0.043739  10.0     50000  Paid   0.99
26  App_27          Game     2.7  0.752680  20.0      1000  Free   1.99
27  App_28     Education     4.3  0.211835  20.0      1000  Paid   4.99
28  App_29          Game     3.6  0.891724  20.0      1000  Free   9.99
29  App_30  Productivity     3.7  0.703152  30.0      1000  Free   0.00

   Content Rating  Popularity Affordable
0      Mature 17+    3.434820        N/A
1            Teen    2.924057        N/A
2      Mature 17+    0.000000        Yes
3            Teen    0.671012        Yes
4      Mature 17+    2.989708        N/A
5        Everyone    1.603774        N/A
6            Teen    2.060892         No
7            Teen    0.507890        N/A
8        Everyone    3.473735        N/A
9        Everyone    0.040395        Yes
10     Mature 17+    2.034873        Yes
11   Everyone 10+    1.651061        Yes
12     Mature 17+    3.480864         No
13     Mature 17+    1.774303        N/A
14   Everyone 10+    2.802970        N/A
15           Teen    0.431497        N/A
16           Teen    0.906840        N/A
17   Everyone 10+    3.855232         No
18     Mature 17+    4.459949         No
19           Teen    3.032204        Yes
20           Teen    4.000000         No
21       Everyone    3.920755        N/A
22   Everyone 10+    0.103602        N/A
23   Everyone 10+    2.614130        N/A
24           Teen    1.973027        Yes
25           Teen    0.061235        Yes
26           Teen    2.032236        N/A
27   Everyone 10+    0.910892        Yes
28     Mature 17+    3.210206        N/A
29   Everyone 10+    2.601662        N/A

In [66]:
df.to_excel('exports/PGD_Google_APP_Data.xlsx')

In [68]:
df.to_csv('exports/PGD_Google_APP_Data.csv')